@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-dark: #14141B;
  --color-blue: #272737;
  --color-dark-night: #141414;
  --color-blue-sky: #1B1B26;
  --color-maroon: #252525;
  --color-dark-grey: #323232;
  --color-maroon-light: #7C6A46;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --color-dark: #14141B;
    --color-blue: #272737;
    --color-dark-night: #141414;
    --color-blue-sky: #1B1B26;
    --color-maroon: #252525;
    --color-dark-grey: #323232;
    --color-maroon-light: #7C6A46;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
